*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: Playfair Display;
}
body{
    position: relative;
    width: 100%;
}
.header{
    padding: 0 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
}
.checkbtn{
    font-size: 1rem;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;   
}
.sitelogo {
    float: left;
}
.sitelogo img{
    width: 200px;
}
.nav ul{
    list-style-type: none;
    padding: 0;
    font-size: 1rem;
}
.nav ul li{
    display: inline-block;
    margin: 0 5px;
    text-transform: capitalize;

}
.nav ul li a {
    text-decoration: none;
    padding: 10px;
    cursor: pointer;
    color: #000;
}
.nav a:hover{
    color: #037dc1;
    font-weight: 600;
}
.donate{
    background-color: #EF4036;
    border: none;
    margin: 1px;
    color: #fff;
    padding: 15px;
    font-size: 1.05rem;
}
.donate:hover{
    background-color: #A52A2A;
    font-weight: 550;
}
.contact{
    background-color: #fff;
    border: none;
    margin: 1px;
    padding: 15px;
    font-size: 1.05rem;
    color: #474747;
}
.contact:hover{
    font-weight: 600;
}
.deck{
    position: relative;
    text-align: center;
}
.deck img{
    z-index: 0;
    width: 95%;
    transition: ease-in 0.25s;
    height: auto;
}
.deck img:hover{
    width: 100%;
}
.deck-caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    margin: auto;
    z-index: 1;
    padding: 40px;
    font-family: 'Roboto Slab';
    border-radius: 4px;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 900;
    text-transform: uppercase;
    color: brown;
}
.deck-cap{
    font-weight: 300;
    color: #474747;
    font-size: 1rem;
    text-transform: none;
}
.impact-intro p{
    text-align: center;
    font-size: 2.5vw;
    font-weight: bold;
    color: #474747;
    padding: 10px 0;
}
.impact-intro hr{
    width: 40%;
    margin: 0 auto 20px;
}
.impact-container{
    padding: 20px 5%;
    margin: none;
    height: max-content;
}
.impact-body{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 2vw;
    align-items: stretch;
}
.boxes{
    background-color: #fff;
    padding: 5% 5% 10%;
    text-align: center;
    border-radius: 4%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: -3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.boxes img{
    height: 3vw;
}
.boxes h1{
    font-size: 2vw;
    font-weight: bolder;
    color: #037dc1;
    padding: 0;
    margin: 0;
}
.boxes h3{
    color: #474747;
    font-size: 1vw;
    font-weight: 100;
    padding: 2% 5%;
}
.click{
    padding: 0.5vw 1vw;
    border-radius: 5px;
    background-color: #fff;
    border: 2px solid #037dc1;
}
.click a {
    color: #037dc1;
    font-weight: 550;
    font-size: 1vw;
    margin: auto;
}
.click:hover{
    background-color: #037dc1;
}
.click a:hover{
    color: #fff;
}

.sponsor-container hr{
    width: 60%;
    margin: 0 auto;
}
.sponsors{
    display: flex;
    width: 80%;
    margin: 0 auto;
    justify-content: space-around;
}
.sponsors img{
    height: 5vw;
}






.blah{
    margin: 0 auto 80px;
    color: #037dc1;
    font-weight: 900;
    position: relative;
    z-index: 0;
}
.blah p{
    position: absolute;
    top: 0;
    right: 200px;
    font-size: 6vw;
}

/* VOLUNTEER SECTION----------------------------------- */

.volunteer-container{
    display: flex;
   justify-content: center;
    gap: 1.5rem;
    text-align: center;
    height: fit-content;
    padding: 0 32px;
}
.volunteer-imgs{
    display: flex;
    height: 30vw;
    gap: 0.5rem;
    padding: 10px;
}
.volunteer-content{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.volunteer-box{
    font-size: 1vw;
    padding: 0.5vh;
}
.vol-sidebar{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
#note {
    margin: 5vh auto;
    color: #474747;
}
.vol-button{
    border: 2px solid #037dc1;
    padding: 1vw;
    background-color: #fff;
    font-weight: 700;
    color: #037dc1;
    font-size: 1.2vw;
    border-radius: 4px;
}
.vol-button:hover{
    background-color: #037dc1;
    color: #fff;
}








/* MAP SECTION ------------------------------------------*/
#big-hr{
    width: 60%;
    height: 2px;
    border: none;
    margin: 8px auto;
    background-color: #474747;

}
#small-hr{
    width: 40%;
    height: 2px;
    border: none;
    margin: 8px auto;
    background-color: #474747;
}
em{
    font-family: Playfair Display;
}
.data-container {
    text-align: center;
    color: #474747;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    background-image: url("images/sandy\ background.png");
}
.map{
    height: 30vw;
    margin: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.map-data{
    margin-top: 2rem;
    align-self: flex-start;
    font-size: 1.2rem;
}
.data-block-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    /* background-color: #faa826; */
    gap: 2rem;
}
.data-block h4{
    font-size: 4vw;
}
.second{
    right: 700px;
}







.footer{
    background-color: #faa826;
    font-size: 1.05rem;
    text-align: center;
    width: 100%;
    line-height: 25px;
    padding-bottom: 20px;
}

.footer-icons{
    padding-top: 30px;
    font-size: 1.3rem;
    padding-bottom: 20px;
    font-weight: 500;
}

.summary a{
    color: #000;
}

.summary a:hover{
    text-decoration: underline;
    font-weight: 600;
}

.copyright{
    font-size: 0.6rem;
    font-weight: 700;
}














.about-heading{
    height: 80vh;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: #fff;
    font-weight: 800;
}













@media (max-width:952px){
    label.sitelogo{
        width: 100px;
        padding: auto;
    }
    .nav ul li a{
        font-size: 16px;
    }
    .impact-body{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        row-gap: 1rem;
    }
    .impact-body h3{
        font-size: 2vw;
    }
    /* .click{
        padding: 0.2vw;
    } */
    .click a{
        font-size: 1.4vw;
    }
    .blah{
        margin: 0 0 50px;
        right: -100px;
    }
    .vol-button{
        font-size: 1.5vw;
    }
    #note{
        font-size: 1vw;
        margin: 2vh auto;
    }
}
@media (max-width:858px){
    .checkbtn{
        display: block;
    }
    #nav ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: hsl(202, 100%, 13%);
        top: 103px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    #nav ul li{
        display: block;
        margin: 50px 0; 
        line-height: 30px;
    }
    #nav ul li a{
        font-size: 20px;
        color: #fff;
        font-weight: 600;

    }
    #nav a:hover, .nav a:active{
        color: #011c2b;
    }
    #check:checked ~ .nav ul{
        left: 0;
    }
    .impact-body{
        column-gap: 5vw;
    }
    .blah{
        position: static;
        margin: 0;
    }
    .blah p{
        text-align: center;
        position: static;
        font-size: 8vh;
    }
    .volunteer-container{
        flex-direction: column;
        margin-bottom: 20px;
    }
    #note{
        margin: 0;
        font-size: 1.2rem;
    }
    .vol-button{
        font-size: 1.2rem;
    }
    .volunteer-imgs{
        display: none;
    }
    
}
